body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #4B4B4B;
}

.hero {
    background-color: #F7D881;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-section { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    flex-wrap: wrap;
}

.left-side {
    max-width: 550px;
    min-width: 350px;
    margin: 40px;
    
}

a {
    text-decoration: none;
    color: #4B4B4B;
    margin: 0px 12px;
}

#header-image {
    max-width: 500px;
    border-radius: 10px;
    margin: 30px;
    flex-shrink: 1;
}

button {
    background-color: #F6B26B;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
    color: rgb(19, 19, 19);
}

h1,
h3 {
    color: rgb(19, 19, 19);
}


.logo {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(58, 28, 8);
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.illustration-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1400px;
}

.illustration-and-text {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    flex-basis: calc((100%/4) - 20px);
}

@media (max-width: 800px) {
    .illustration-and-text {
        flex: 1 1 calc(50% - 20px); /* 2 items per row with gap */
    }
}

@media (max-width: 480px) {
    .image-container .item {
        flex-basis: 100%; /* 1 item per row on very narrow screens */
    }
}

.illustration {
    border: 5px solid #F6B26B;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    padding: 20px;
}

h2 {
    font-size: 28px;
}

.testimonial {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 120px;
    background-color: #FFF7E6;
}

#quote {
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    width: 800px;
    line-height: 1.5;
    margin: 0;
}

#speaker {
    text-align: end;
    font-weight: 800;
    font-size: 20px;
    margin: 0;
    color: rgb(29, 29, 29);
    margin-right: 40px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.action-container {
    background-color: #F6B26B;
    padding: 10px 80px;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.action-left {
    margin-right: 20px;

}

#border-button {
    border: 3px solid rgb(29, 29, 29);
}

.footer {
    background-color: #F7D881;
    text-align: center;
    padding: 25px;
}